[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-gitlab = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.9"


[scripts]
clone = "python -m app"